<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <img src="assets/imgs/logomypage.png">
                <p>Seu parceiro para inovação tecnológica</p>
            </div>
            <div class="col-lg-3">
                <strong>Menu</strong>
                <ul class="nav flex-column">
                    <li class="nav-item">
                      <a class="nav-link" href="#">Início</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Quem Somos</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Planos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Portifólio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Perguntas Frequentes</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-4">
                <strong>Contato</strong>
                <ul class="nav flex-column contato">
                    <li class="nav-item">
                      <a class="nav-link" href="#"><i class='bx bx-envelope'></i> contato@mypagetecnologia.com.br</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#"><i class='bx bxl-whatsapp' ></i> (21) 99274-6381</a>
                    </li>
                    <li class="nav-item">
                      <p><i class='bx bx-time-five'></i> Seg-Sex 09h às 18h</p>
                    </li>
                </ul>
            </div>
            <div class="col-lg-2">
                <strong>Redes Sociais</strong>
                <ul class="nav socials">
                    <li class="nav-item">
                      <a class="nav-link" href="#"><i class='bx bxl-facebook-square'></i></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#"><i class='bx bxl-linkedin-square' ></i></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#"><i class='bx bxl-instagram-alt' ></i></a>
                    </li>
                </ul>
            </div>

            <div class="col-lg-12">
                <hr>
                <p class="copy">© 2024 - Mypage Tecnologia. Direitos Reservaros - CNPJ 49.419.015/0001-88</p>
            </div>
        </div>
    </div>
</footer>