<section id="inicio" class="bg-top-home">
    <img src="assets/imgs/background-home.jpg">
    <div class="wrap-texts">
        <p class="title">Agora você pode ter um </p>
        <h1>Site por Assinatura</h1>
        <p>Explore o melhor da nossa plataforma com a assinatura que dá acesso a um
            oceano de conteúdos exclusivos e vantagens especiais. Descubra um novo
            nível de entretenimento, conhecimento e muito mais.
            Torne-se assinante hoje e mergulhe em uma experiência feita sob medida para você!
        </p>
        <a class="nav-link" href="">Ver planos</a>
    </div>
</section>

<section class="services">
    <div class="container">
        <div class="wrap-sevices">
            <div class="box-service">
                <img src="assets/icons/servico-1.svg">
                <h2>Domínio e Hospedagem</h2>
                <p>O registro de domínio e contratação de hospedagem é por nossa conta.</p>
            </div>
            <div class="box-service">
                <img src="assets/icons/servico-2.svg">
                <h2>Design diferenciado</h2>
                <p>Investimos na excelência do design para proporcionar uma experiência única e marcante. </p>
            </div>
            <div class="box-service">
                <img src="assets/icons/servico-3.svg">
                <h2>Sites responsivos</h2>
                <p>Nossa abordagem de design responsivo garante que sua experiência seja perfeita em qualquer
                    dispositivo. </p>
            </div>
            <div class="box-service">
                <img src="assets/icons/servico-4.svg">
                <h2>Segurança</h2>
                <p> Nossa prioridade é sua segurança. Utilizamos tecnologias avançadas para proteger suas informações.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="ilustration">
    <div  id="quemSomos" class="container">
        <div class="row">
            <div class="col-lg-6">
                <img src="assets/imgs/ilustracao.svg">
            </div>
            <div  class="col-lg-6">
                <h2>Seu Parceiro Para Inovação Tecnológica</h2>
                <p>A Mypage é o parceiro preferido de muitas das principais empresas, PMEs e desafiantes tecnológicos
                    do mundo. Ajudamos as empresas a aumentar seu valor por meio da disponibilização de soluções
                    inovadoras e personalizadas.
                </p>
                <ul class="list-group">
                    <li class="list-group-item"> <img src="assets/icons/check.svg"> Compromisso com a qualidade da
                        entrega.</li>
                    <li class="list-group-item"> <img src="assets/icons/check.svg"> Capacitando PMEs para o sucesso.
                    </li>
                    <li class="list-group-item"> <img src="assets/icons/check.svg"> Parcerias com desafiantes
                        tecnológicos.</li>
                    <li class="list-group-item"> <img src="assets/icons/check.svg"> Transformando empresas através da
                        tecnologia. </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="solutions">
    <div class="container">
        <h2>Nossas Soluções</h2>
        <h3>Criamos estratégias personalizadas para potencializar o progresso e expansão do seu negócio</h3>

        <div class="row mt-5">
            <div class="col-lg-4">
                <div class="card text-center">
                    <div class="box-icon">
                        <img src="assets/icons/card-1.svg">
                    </div>
                    <h4>Sites por assinatura</h4>
                    <p>Criamos sites profissionais com baixo custo, gerenciador de conteúdo e hospedagem.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card text-center">
                    <div class="box-icon">
                        <img src="assets/icons/card-2.svg">
                    </div>
                    <h4>Sites personalizados</h4>
                    <p>Criamos sites personalizados de alta performance de acordo com a necessidade do negócio.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card text-center">
                    <div class="box-icon">
                        <img src="assets/icons/card-3.svg">
                    </div>
                    <h4>SEO</h4>
                    <p>Elevamos sua presença digital para novos patamares de visibilidade e sucesso online.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card text-center">
                    <div class="box-icon">
                        <img src="assets/icons/card-4.svg">
                    </div>
                    <h4>E-mail Profissional</h4>
                    <p>Desbloqueie todo o potencial com nosso serviço de email empresarial personalizado. </p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card text-center">
                    <div class="box-icon">
                        <img src="assets/icons/card-5.svg">
                    </div>
                    <h4>Manutenção</h4>
                    <p>Garanta o melhor desempenho, segurança e atualização constante do seu site. </p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card text-center">
                    <div class="box-icon">
                        <img src="assets/icons/card-6.svg">
                    </div>
                    <h4>Sistemas</h4>
                    <p>Desenvolvimento de sistemas sob medida adaptados às necessidades únicas da sua empresa. </p>
                </div>
            </div>

            <a class="nav-link" href=""><i class='bx bxl-whatsapp'></i>  Falar com especialista</a>
        </div>
    </div>
</section>

<section class="plans">
    <div id="planos"  class="container">
        <h2>Planos</h2>
        <h3>Escolha um de nossos planos de assinatura mensal e tenha um site profissional a sua disposição
            por um valor acessível.
        </h3>

        <div class="row mt-5">
            <div class="col-lg-4">
                <div class="card card-plan np">
                    <div class="card-header">
                        Start
                    </div>
                    <div class="card-body">
                        <h4><small>R$</small> 49,90<span>/mês</span></h4>

                        <h5>Site 1 página</h5>
                        <ul class="nav flex-column">
                            <li class="nav-item"><i class='bx bxs-check-circle'></i> Domínio e hospedagem grátis</li>
                            <li class="nav-item"><i class='bx bxs-check-circle'></i> SSL grátis</li>
                            <li class="nav-item"><i class='bx bxs-check-circle'></i> Otimização SEO</li>
                            <li class="nav-item"><i class='bx bxs-check-circle'></i> Manutenção e atualização</li>
                            <li class="nav-item"><i class='bx bxs-check-circle'></i> Backup</li>
                            <li class="nav-item"><i class='bx bxs-check-circle'></i> E-mail profissional</li>
                            <li class="nav-item"><i class='bx bxs-check-circle'></i> Integração com Whatsapp</li>
                            <li class="nav-item"><i class='bx bxs-x-circle'></i> Blog</li>
                            <li class="nav-item"><i class='bx bxs-x-circle'></i> Painel administrativo</li>
                            <li class="nav-item"><i class='bx bxs-x-circle'></i> Loja Virtual</li>
                        </ul>

                        <a class="nav-link" href="">Assinar</a>
                        <hr>
                        <p>Taxa de adesão R$ 189,00 (valor único)</p>
                        <p>Cancele quando quiser</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <p class="text-popular">Mais Popular</p>
                <div class="card card-plan">
                    <div class="card-header">
                        Medium
                    </div>
                    <div class="card-body">
                        <h4><small>R$</small> 146,90<span>/mês</span></h4>

                        <h5>Site 2 a 5 páginas</h5>
                        <ul class="nav flex-column">
                            <li class="nav-item"><i class='bx bxs-check-circle'></i> Domínio e hospedagem grátis</li>
                            <li class="nav-item"><i class='bx bxs-check-circle'></i> SSL grátis</li>
                            <li class="nav-item"><i class='bx bxs-check-circle'></i> Otimização SEO</li>
                            <li class="nav-item"><i class='bx bxs-check-circle'></i> Manutenção e atualização</li>
                            <li class="nav-item"><i class='bx bxs-check-circle'></i> Backup</li>
                            <li class="nav-item"><i class='bx bxs-check-circle'></i> E-mail profissional</li>
                            <li class="nav-item"><i class='bx bxs-check-circle'></i> Integração com Whatsapp</li>
                            <li class="nav-item"><i class='bx bxs-check-circle'></i> Blog</li>
                            <li class="nav-item"><i class='bx bxs-check-circle'></i> Painel Administrativo</li>
                            <li class="nav-item"><i class='bx bxs-x-circle'></i> Loja Virtual</li>
                        </ul>

                        <a class="nav-link" href="">Assinar</a>
                        <hr>
                        <p>Taxa de adesão R$ 189,00 (valor único)</p>
                        <p>Cancele quando quiser</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card card-plan np">
                    <div class="card-header">
                        Premium
                    </div>
                    <div class="card-body">
                        <h4><small>R$</small> 189,90<span>/mês</span></h4>

                        <h5>Site 6 a 10 páginas</h5>
                        <ul class="nav flex-column">
                            <li class="nav-item"><i class='bx bxs-check-circle'></i> Domínio e hospedagem grátis</li>
                            <li class="nav-item"><i class='bx bxs-check-circle'></i> SSL grátis</li>
                            <li class="nav-item"><i class='bx bxs-check-circle'></i> Otimização SEO</li>
                            <li class="nav-item"><i class='bx bxs-check-circle'></i> Manutenção e atualização</li>
                            <li class="nav-item"><i class='bx bxs-check-circle'></i> Backup</li>
                            <li class="nav-item"><i class='bx bxs-check-circle'></i> E-mail profissional</li>
                            <li class="nav-item"><i class='bx bxs-check-circle'></i> Integração com Whatsapp</li>
                            <li class="nav-item"><i class='bx bxs-check-circle'></i> Blog</li>
                            <li class="nav-item"><i class='bx bxs-check-circle'></i> Painel Administrativo</li>
                            <li class="nav-item"><i class='bx bxs-check-circle'></i> Loja Virtual</li>
                        </ul>

                        <a class="nav-link" href="">Assinar</a>
                        <hr>
                        <p>Taxa de adesão R$ 189,00 (valor único)</p>
                        <p>Cancele quando quiser</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-12 orcamento">
                <h2>Site personalizado ou sistemas</h2>
                <h3>Se você precisa de um projeto personalizado de site ou sistema, envie-nos seus dados que nossa
                    equipe
                    entrará em contato o mais breve possível. Nesse caso é cobrado o valor do projeto e não a assinatura
                    mensal.
                </h3>

                <form class="form-orcamento mt-5">
                    <div class="mb-3">
                        <input type="text" class="form-control" placeholder="Seu nome">
                    </div>
                    <div class="mb-3">
                        <input type="text" class="form-control" placeholder="Telefone/Whatsapp">
                    </div>
                    <div class="mb-3">
                        <input type="email" class="form-control" placeholder="Email">
                    </div>
                    <div class="mb-3">
                        <textarea class="form-control" rows="4" placeholder="Mensagem"></textarea>
                    </div>
                    <button class="btn btn-primary">Quero um orçamento</button>
                </form>
            </div>
        </div>
    </div>
</section>

<section class="portfolio">
    <div id="portfolio"  class="container">
        <h2>Portfólio</h2>
        <h3>Confira os clientes que assinaram um de nossos planos e estão satisfeitos por construírem sua presença online conosco.</h3>

        <div class="row">
            <div class="col-lg-4">
                <div class="card">
                    <a class="link" href="#">
                        <img src="assets/imgs/site-ihumanus.jpg">
                    </a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card">
                    <a class="link" href="#">
                        <img src="assets/imgs/site-haytek.jpg">
                    </a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card">
                    <a class="link" href="#">
                        <img src="assets/imgs/site-poupa-sabores.jpg">
                    </a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card">
                    <a class="link" href="#">
                        <img src="assets/imgs/site-euforia-sorvetes.jpg">
                    </a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card">
                    <a class="link" href="#">
                        <img src="assets/imgs/site-bitonga.jpg">
                    </a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card">
                    <a class="link" href="#">
                        <img src="assets/imgs/site-awra.jpg">
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="faq">
    <div id="perguntasFrequentes"  class="container">
        <h2>Perguntas frequentes</h2>

        <div class="col-lg-12">
            <accordion [isAnimated]="true" [closeOthers]="true" *ngFor="let p of perguntas"> 
                <accordion-group>
                    <button
                      class="btn btn-link btn-block justify-content-between d-flex w-100  shadow-none"
                      accordion-heading type="button">
                        <h3>{{p.titulo}}</h3>
                        <i class='bx bx-chevron-down'></i>
                    </button>
                    
                    <p>{{p.descricao1}}</p>
                    <p>{{p.descricao2}}</p>
                  </accordion-group>
                  
              </accordion>

              <h4>Ainda com dúvidas?</h4>
              <button class="btn btn-primary"><i class='bx bxl-whatsapp'></i> Falar com especialista</button>
        </div>
    </div>
</section>