.bg-top-home {
    width: 100%;
    margin-top: -80px;
    position: relative;

    img {
        width: 100%;
    }

    &::after {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: rgba(6, 1, 41, 0.685);
        left: 0;
        right: 0;
    }

    .wrap-texts {
        position: absolute;
        top: 20%;
        left: 0;
        right: 0;
        margin: auto;
        width: 60%;
        text-align: center;
        z-index: 10;

        p {
            color: #ffffff;
            font-size: 20px;

            &.title {
                font-size: 38px;
                color: #ffffff;
                margin: 0;
            }

        }

        h1 {
            font-size: 60pt;
            color: #56daff;
            margin-bottom: 15px;
        }
        
    }
}

.services {
    position: relative;
    margin-bottom: 200px;
    .wrap-sevices {
        display: flex;
        justify-content: space-between;
        gap: 1px;
        position: absolute;
        left: 0;
        right: 0;
        top: -140px;
        margin: auto;
        width: 80%;
        .box-service{
            background-color: #56daff;
            text-align: center;
            width: 25%;
            padding: 30px;
            i{
                font-size: 75px;
                color: #0a7fd3;
                margin-bottom: 10px;
            }
            img{
                width: 70px;
                margin-bottom: 20px;
            }
            h2{
                font-size: 22px;
                margin-bottom: 10px;
            }
        }
    }
}

.ilustration{
    padding-bottom: 120px;
    img{
        width: 90%;
        margin-top: 80px;
    }
    h2{
        margin:30px 0 20px;
        color: #0a7fd3;
        font-size: 50px;
    }
    .list-group{
        .list-group-item{
            border: none;
            display: flex;
            align-items: center;
            padding-left: 0;
            padding-bottom: 0;
            img{
                width: 20px;
                height: 20px;
                margin: 0 10px 0 0;
            }
        }
    }
}

.solutions{
    background-color: #211c3e;
    padding: 70px 0 60px;
    h2{
        text-align: center;
        color: #ffffff;
        margin-bottom: 20px;
    }
    h3{
        text-align: center;
        color: #56daff;
        font-size: 18px;
        font-weight: 400;
    }
    .card{
        padding: 30px;
        border-radius: 0;
        background-color: transparent;
        border: none;
        h4, p{
            color: #ffffff;
        }
        .box-icon{
            border: 2px solid #56daff;
            background: rgba(255,255,255,0.1);
            width: 90px;
            height: 90px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            margin: 0 auto 20px;
            img{
                width: 42px;
            }
        }
    }
    a.nav-link{
        width: 240px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        i{
            font-size: 25px;
        }
    }

}

a.nav-link{
    text-align: center;
    color: #04497a;
    border: none;
    background: #56daff;
    width: 210px;
    margin: 50px auto 20px;
    padding: 8px;
    border-radius: 3px;
    font-weight: 500;
    &:hover{
        background: #0a7fd3;
        color: #56daff;
    }
}

.plans{
    padding: 70px 0 60px;
    h2{
        text-align: center;
        color: #0a7fd3;
    }
    h3{
        text-align: center;
        width: 50%;
        margin: 15px auto;
        font-size: 18px;
        font-weight: 400;
    }
    p.text-popular{
        text-align: center;
        background-color: #211c3e;
        padding: 8px;
        margin-bottom: 0;
        color: #ffffff;
    }
    .card{
        border-radius: 0;
        &.np{
            margin-top: 40px;
        }
        .card-header{
            background-color: #f9f9f9;
            padding: 20px;
            border-radius: 0;
            text-align: center;
            font-size: 25px;
            font-weight: 500;
            border: none;
            border-top: 8px solid #0a7fd3;
        }
        .card-body{
            background-color: #f9f9f9;
            padding: 0 0 20px;
            h4{
                text-align: center;
                font-size: 45px;
                font-weight: 700;
                background-color: #f9f9f9;
                padding: 10px 20px 5px;
                position: relative;
                color: #0a7fd3;
                small{
                    position: relative;
                    font-size: 18px;
                    font-weight: 500;
                    left: 18px;
                    bottom: 30px;
                }
                span{
                    font-size: 18px;
                    font-weight: 500;
                }
            }
            h5{
                text-align: center;
                margin: 20px 0;
            }
            ul.nav{
                padding-left: 30px;
                li.nav-item{
                    margin-bottom: 15px;
                    font-weight: 300;
                    i{
                        color: #0a7fd3;
                        margin-right: 5px;
                        &.bxs-x-circle{
                            color: rgb(196, 73, 73);
                        }
                    }
                }
            }
            p{
                text-align: center;
                margin: 0;
                font-weight: 300;
                font-size: 14px;
            }
        }
    }
    .form-orcamento{
        width: 60%;
        margin: auto;
        button.btn-primary{
            display: block;
            margin: auto;
        }
    }
}
.orcamento{
    margin: 90px 0 50px;
    h3{
        width: 85%;
    }
}

.portfolio{
    padding: 70px 0 60px;
    background-color: #f9f9f9;
    h2{
        text-align: center;
        color: #0a7fd3;
    }
    h3{
        text-align: center;
        width: 50%;
        margin: 15px auto 40px;
        font-size: 18px;
        font-weight: 400;
    }
    .card{
        height: 500px;
        padding: 15px;
        margin-bottom: 25px;
        border-radius: 0;
        overflow: hidden;
        a.link{
            height: 100%;
            
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: top;
                transition: all .2s;
                &:hover{
                    transform: scale(1.06);
                }
            }
        }
            
    }
}

.faq{
    padding: 70px 0 60px;
    h2{
        text-align: center;
        color: #0a7fd3;
        margin-bottom: 40px;
    }
    h4{
        text-align: center;
        margin-top: 50px;
        font-size: 25px;
    }
    a.nav-link{
        width: 240px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        margin-top: 20px;
        i{
            font-size: 25px;
        }
    }
}

#quemSomos,
#planos,
#portfolio,
#perguntasFrequentes{
    margin-top: -120px;
    padding-top: 120px;
}
p.message{
   
    padding: 10px 20px;
    border-radius: 3px;
   
    text-align: center;
    &.green{
        background-color: #61f3d3;
        color: #075343;
    }
    &.red{
        background-color: #f59a9a;
        color: #530707;
    }
}
.bx-loader-alt{
    font-size: 20px;
    position: relative;
    left: 10px;
    top: 3px;
    color: #04497a;
}


/*======================= RESPONSIVE =======================*/
@media(max-width: 991px){
    .bg-top-home{
        .wrap-texts{
            width: 85%;
            p.title{
                font-size: 33px;
            }
            h1{
                font-size: 55px;
            }
            p{
                font-size: 17px;
            }
        }
    } 

    .services{
        .wrap-sevices{
            top: -90px;
            .box-service{
                padding: 15px;
                img{
                    width: 56px;
                }
                h2{
                    font-size: 19px;
                }
                p{
                    font-size: 15px;
                    line-height: 19px;
                }
            }
        }
    } 

    .plans{
        .card{
            .card-body{
                h4{
                    font-size: 32px;
                }
                a.nav-link{
                    width: 170px;
                    margin-top: 20px;
                }
                ul.nav li.nav-item {
                    margin-bottom: 8px;
                }
            } 
        } 
    }

    .orcamento{
        h3{
            width: 100%;
        }
    }

    .portfolio{
        h3{
            width: 80%;
        }
    }
}

@media(max-width: 600px){
    .bg-top-home{
        img{
            height: 80vh;
            object-fit: cover;
        }
        .wrap-texts{
            h1{
                font-size: 45px;
                margin-top: 15px;
            }
            p.title{
                font-size: 28px;
            }
            a.nav-link{
                margin-top: 40px;
            }
            p{
                line-height: 24px;
            }
        }
    }
    .services{
        margin-bottom: 20px;
        .wrap-sevices{
            flex-direction: column;
            position: relative;
            top: 15px;
            .box-service{
                width: 100%;
            }
        }
    }
    .ilustration{
        img{
            width: 100%;
        }
        h2{
            text-align: center;
            font-size: 32px;
        }
        p{
            text-align: center;
        }
    }
    .solutions{
        .card{
            padding: 15px;
        }
    }
    .plans{
        h3{
            width: 100%;
        }
        p.text-popular{
            margin-top: 35px;
        }
        .form-orcamento{
            width: 100%;
        }
    }
    .portfolio{
        h3{
            width: 100%;
        }
    }
    
}