<section class="bg-top-home">
    <img src="assets/imgs/background-home.jpg">
    <div class="wrap-texts">
        <p class="title">Transformando idéias em </p>
        <h1>Tecnologia</h1>
        <p>Do desenvolvimento de softwares de última geração à implementação de soluções de sites e
            apps revolucionários, nosso
            compromisso é liderar a marcha em direção a um amanhã mais inteligente e conectado.</p>
    </div>
</section>

<section class="services">
    <div class="container">
        <div class="wrap-sevices">
            <div class="box-service">
                <img src="assets/icons/servico-1.svg">
                <h2>Softwares</h2>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            </div>
            <div class="box-service">
                <img src="assets/icons/servico-2.svg">
                <h2>Sites por assinatura</h2>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            </div>
            <div class="box-service">
                <img src="assets/icons/servico-3.svg">
                <h2>Sites personalizados</h2>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            </div>
            <div class="box-service">
                <img src="assets/icons/servico-4.svg">
                <h2>Aplicativos</h2>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            </div>
        </div>
    </div>
</section>

<section class="ilustration">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <img src="assets/imgs/ilustracao.svg">
            </div>
            <div class="col-lg-6">
                <h2>Seu Parceiro Para Inovação De Software</h2>
                <p>A Mypage é o parceiro preferido de muitas das principais empresas, PMEs e desafiantes tecnológicos
                    do mundo. Ajudamos as empresas a aumentar seu valor por meio do desenvolvimento de software
                    personalizado e design de produtos.</p>
                <ul class="list-group">
                    <li class="list-group-item">  <img src="assets/icons/check.svg"> O que significa que a empresa aumenta.</li>
                    <li class="list-group-item">  <img src="assets/icons/check.svg"> Disponível em todas as versões.</li>
                    <li class="list-group-item">  <img src="assets/icons/check.svg"> A perda potencial da barra de toque.</li>
                    <li class="list-group-item">  <img src="assets/icons/check.svg"> USB de alta velocidade.</li>
                </ul>
            </div>
        </div>
    </div>
</section>