<section id="inicio" class="bg-top-home">
    <img src="{{dataImage}}" alt="banner">
    <div class="wrap-texts">
        <h1 class="fade-in" id="title">Transformando o futuro com tecnologia inovadora</h1>
        <p class="fade-in" id="description">Bem-vindo à <b>MyPage Tecnologia</b>, onde revolucionamos o mundo digital com soluções tecnológicas de ponta. Nossa missão é impulsionar seu negócio com inovação, eficiência e segurança, entregando produtos e serviços que fazem a diferença. Junte-se a nós e experimente o poder da tecnologia no seu dia a dia.</p>
        <a class="nav-link fade-in" routerLink="/" fragment="solucoes" id="button">Saiba mais</a>
    </div>
</section>

<section class="services">
    <div class="container">
        <div class="wrap-sevices">
            <div class="box-service fade-in">
                <img src="assets/icons/servico-1.svg" alt="servico">
                <h2>Domínio e Hospedagem</h2>
                <p>Fazemos o registro de domínio e contratação de hospedagem pra você.</p>
            </div>
            <div class="box-service fade-in">
                <img src="assets/icons/servico-2.svg" alt="servico">
                <h2>Design diferenciado</h2>
                <p>Investimos na excelência do design para proporcionar uma experiência única e marcante. </p>
            </div>
            <div class="box-service fade-in">
                <img src="assets/icons/servico-3.svg" alt="servico">
                <h2>Sites responsivos</h2>
                <p>Nossa abordagem de design responsivo garante que sua experiência seja perfeita em qualquer dispositivo. </p>
            </div>
            <div class="box-service fade-in">
                <img src="assets/icons/servico-4.svg" alt="servico">
                <h2>Segurança</h2>
                <p> Nossa prioridade é sua segurança. Utilizamos tecnologias avançadas para proteger suas informações.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="ilustration">
    <div  id="quemSomos" class="container">
        <div class="row">
            <div class="col-lg-6">
                <img src="assets/imgs/ilustracao.svg" alt="ilustracao">
            </div>
            <div  class="col-lg-6 ">
                <h2>Seu Parceiro Para Inovação Tecnológica</h2>
                <p>A Mypage é o parceiro preferido de muitas das principais empresas, PMEs e desafiantes tecnológicos
                    do mundo. Ajudamos as empresas a aumentar seu valor por meio da disponibilização de soluções
                    inovadoras e personalizadas.
                </p>
                <ul class="list-group">
                    <li class="list-group-item"> <img src="assets/icons/check.svg" alt="check"> Compromisso com a qualidade da
                        entrega.</li>
                    <li class="list-group-item"> <img src="assets/icons/check.svg" alt="check"> Capacitando PMEs para o sucesso.
                    </li>
                    <li class="list-group-item"> <img src="assets/icons/check.svg" alt="check"> Parcerias com desafiantes
                        tecnológicos.</li>
                    <li class="list-group-item"> <img src="assets/icons/check.svg" alt="check"> Transformando empresas através da
                        tecnologia. </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="solutions">
    <div  id="solucoes" class="container">
        <h2>Nossas Soluções</h2>
        <h3>Criamos estratégias personalizadas para potencializar o progresso e expansão do seu negócio</h3>

        <div class="row mt-5">
            <div class="col-lg-4 col-md-6">
                <div class="card text-center">
                    <div class="box-icon">
                        <img src="assets/icons/card-2.svg" alt="card">
                    </div>
                    <h4>Sites personalizados</h4>
                    <p>Criamos sites personalizados de alta performance de acordo com a necessidade do negócio.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="card text-center">
                    <div class="box-icon">
                        <img src="assets/icons/card-6.svg" alt="card">
                    </div>
                    <h4>Sistemas</h4>
                    <p>Desenvolvimento de sistemas sob medida adaptados às necessidades únicas da sua empresa. </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="card text-center">
                    <div class="box-icon">
                        <img src="assets/icons/card-1.svg" alt="card" style="position:relative;left: 3px;">
                    </div>
                    <h4>Apps</h4>
                    <p>Transformamos suas ideias em aplicativos multiplataforma de alta performance.</p>
                </div>
            </div>
            
            <div class="col-lg-4 col-md-6">
                <div class="card text-center">
                    <div class="box-icon">
                        <img src="assets/icons/card-3.svg" alt="card">
                    </div>
                    <h4>SEO</h4>
                    <p>Elevamos sua presença digital para novos patamares de visibilidade e sucesso online.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="card text-center">
                    <div class="box-icon">
                        <img src="assets/icons/card-4.svg" alt="card">
                    </div>
                    <h4>E-mail Profissional</h4>
                    <p>Desbloqueie todo o potencial com nosso serviço de email empresarial personalizado. </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="card text-center">
                    <div class="box-icon">
                        <img src="assets/icons/card-5.svg" alt="card">
                    </div>
                    <h4>Manutenção</h4>
                    <p>Garanta o melhor desempenho, segurança e atualização constante do seu site. </p>
                </div>
            </div>
            

            <a class="nav-link" href="https://wa.me/5521992746381?text=Olá, gostaria de falar com especialista" target="_blank"><i class='bx bxl-whatsapp'></i>  Falar com especialista</a>
        </div>
    </div>
</section>

<section class="portfolio">
    <div id="portfolio"  class="container">
        <h2>Portfólio</h2>
        <h3>Confira os clientes que estão satisfeitos por construírem sua presença online conosco.</h3>

        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="card">
                    <a class="link" href="https://ihumanus.com.br/" target="_blank">
                        <img src="assets/imgs/site-ihumanus.jpg" alt="site-ihumanus">
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="card">
                    <a class="link" href="https://www.haytek.com.br/" target="_blank">
                        <img src="assets/imgs/site-haytek.jpg" alt="site-haytek">
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="card">
                    <a class="link" href="https://polpasaboresdavida.com.br/" target="_blank">
                        <img src="assets/imgs/site-poupa-sabores.jpg" alt="site-poupa-sabores">
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="card">
                    <a class="link" href="https://euforiasorvetes.com.br/" target="_blank">
                        <img src="assets/imgs/site-euforia-sorvetes.jpg" alt="site-euforia-sorvetes">
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="card">
                    <a class="link" href="https://bitongatravel.com.br/" target="_blank">
                        <img src="assets/imgs/site-bitonga.jpg" alt="site-bitonga">
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="card">
                    <a class="link" href="https://www.awra.com.br/" target="_blank">
                        <img src="assets/imgs/site-awra.jpg" alt="site-awra">
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="faq">
    <div id="perguntasFrequentes"  class="container">
        <h2>Perguntas frequentes</h2>

        <div class="col-lg-12">
            <accordion [isAnimated]="true" [closeOthers]="true" *ngFor="let p of perguntas"> 
                <accordion-group>
                    <button
                      class="btn btn-link btn-block justify-content-between d-flex w-100  shadow-none"
                      accordion-heading type="button">
                        <h3>{{p.titulo}}</h3>
                        <i class='bx bx-chevron-down'></i>
                    </button>
                    
                    <p>{{p.descricao1}}</p>
                    <p>{{p.descricao2}}</p>
                    <p>{{p.descricao3}}</p>
                    <p>{{p.descricao4}}</p>
                    <p>{{p.descricao5}}</p>
                  </accordion-group>
                  
              </accordion>

              <h4>Ainda com dúvidas?</h4>
              <a class="nav-link" href="https://wa.me/5521992746381?text=Olá, gostaria de tirar algumas dúvidas" target="_blank"><i class='bx bxl-whatsapp'></i>  Falar com especialista</a>
        </div>
    </div>
</section>