.bg-top-home {
    width: 100%;
    height: 800px;
    margin-top: -80px;
    position: relative;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &::after {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: rgba(6, 1, 41, 0.774);
        left: 0;
        right: 0;
    }

    .wrap-texts {
        position: absolute;
        top: 20%;
        left: 0;
        right: 0;
        margin: auto;
        width: 60%;
        text-align: center;
        z-index: 10;

        p {
            color: #ffffff;
            font-size: 20px;
        }

        h1 {
            font-size: 35pt;
            color: #56daff;
            margin-bottom: 30px;
            text-transform: uppercase;
            font-weight: bold;
        
        }
        
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px); /* Adiciona um leve movimento para cima */
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-in {
    opacity: 0; /* Inicialmente invisível */
    animation: fadeIn 0.8s ease-in forwards; /* Animação de 2 segundos */
}

#title {
    animation-delay: 0s; /* Título aparece imediatamente */
}

#description {
    animation-delay: 0.5s; /* Descrição aparece 1 segundo depois */
}

#button {
    animation-delay: 1s; /* Botão aparece 2 segundos depois */
}

.box-service{
    &:nth-child(1){
        animation-delay: 1.3s;
    }
    &:nth-child(2){
        animation-delay: 1.6s;
    }
    &:nth-child(3){
        animation-delay: 1.9s;
    }
    &:nth-child(4){
        animation-delay: 2.2s;
    }
}

.services {
    position: relative;
    margin-bottom: 200px;
    .wrap-sevices {
        display: flex;
        justify-content: space-between;
        gap: 1px;
        position: absolute;
        left: 0;
        right: 0;
        top: -140px;
        margin: auto;
        width: 80%;
        .box-service{
            background-color: #56daff;
            text-align: center;
            width: 25%;
            padding: 30px;
            i{
                font-size: 75px;
                color: #0a7fd3;
                margin-bottom: 10px;
            }
            img{
                width: 70px;
                margin-bottom: 20px;
            }
            h2{
                font-size: 22px;
                margin-bottom: 10px;
            }
        }
    }
}

.ilustration{
    padding-bottom: 120px;
    img{
        width: 90%;
        margin-top: 80px;
    }
    h2{
        margin:30px 0 20px;
        color: #0a7fd3;
        font-size: 50px;
    }
    .list-group{
        .list-group-item{
            border: none;
            display: flex;
            align-items: center;
            padding-left: 0;
            padding-bottom: 0;
            img{
                width: 20px;
                height: 20px;
                margin: 0 10px 0 0;
            }
        }
    }
}

.solutions{
    background-color: #211c3e;
    padding: 70px 0 60px;
    h2{
        text-align: center;
        color: #ffffff;
        margin-bottom: 20px;
    }
    h3{
        text-align: center;
        color: #56daff;
        font-size: 18px;
        font-weight: 400;
    }
    .card{
        padding: 30px;
        border-radius: 0;
        background-color: transparent;
        border: none;
        h4, p{
            color: #ffffff;
        }
        .box-icon{
            border: 2px solid #56daff;
            background: rgba(255,255,255,0.1);
            width: 90px;
            height: 90px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            margin: 0 auto 20px;
            img{
                width: 42px;
            }
        }
    }
    a.nav-link{
        width: 240px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        i{
            font-size: 25px;
        }
    }

}

a.nav-link{
    text-align: center;
    color: #04497a;
    border: none;
    background: #56daff;
    width: 210px;
    margin: 50px auto 20px;
    padding: 8px;
    border-radius: 3px;
    font-weight: 500;
    &:hover{
        background: #0a7fd3;
        color: #56daff;
    }
}
.orcamento{
    margin: 90px 0 50px;
    h3{
        width: 85%;
    }
}

.portfolio{
    padding: 70px 0 60px;
    background-color: #f9f9f9;
    h2{
        text-align: center;
        color: #0a7fd3;
    }
    h3{
        text-align: center;
        width: 50%;
        margin: 15px auto 40px;
        font-size: 18px;
        font-weight: 400;
    }
    .card{
        height: 500px;
        padding: 15px;
        margin-bottom: 25px;
        border-radius: 0;
        overflow: hidden;
        a.link{
            height: 100%;
            
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: top;
                transition: all .2s;
                &:hover{
                    transform: scale(1.06);
                }
            }
        }
            
    }
}

.faq{
    padding: 70px 0 60px;
    h2{
        text-align: center;
        color: #0a7fd3;
        margin-bottom: 40px;
    }
    h4{
        text-align: center;
        margin-top: 50px;
        font-size: 25px;
    }
    a.nav-link{
        width: 240px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        margin-top: 20px;
        i{
            font-size: 25px;
        }
    }
}

#quemSomos,
#portfolio,
#perguntasFrequentes{
    margin-top: -120px;
    padding-top: 120px;
}
#solucoes{
    margin-top: -160px;
    padding-top: 160px;
}
p.message{
   
    padding: 10px 20px;
    border-radius: 3px;
   
    text-align: center;
    &.green{
        background-color: #61f3d3;
        color: #075343;
    }
    &.red{
        background-color: #f59a9a;
        color: #530707;
    }
}
.bx-loader-alt{
    font-size: 20px;
    position: relative;
    left: 10px;
    top: 3px;
    color: #04497a;
}


/*======================= RESPONSIVE =======================*/
@media(min-width: 1855px){
    .bg-top-home{
        .wrap-texts{
            width: 52%;
        }
    }
}
@media(max-width: 991px){
    .bg-top-home{
        .wrap-texts{
            width: 85%;
            p.title{
                font-size: 33px;
            }
            h1{
                font-size: 55px;
            }
            p{
                font-size: 17px;
            }
        }
    } 

    .services{
        .wrap-sevices{
            top: -90px;
            .box-service{
                padding: 15px;
                img{
                    width: 56px;
                }
                h2{
                    font-size: 19px;
                }
                p{
                    font-size: 15px;
                    line-height: 19px;
                }
            }
        }
    } 

    .plans{
        .card{
            .card-body{
                h4{
                    font-size: 32px;
                }
                a.nav-link{
                    width: 170px;
                    margin-top: 20px;
                }
                ul.nav li.nav-item {
                    margin-bottom: 8px;
                }
            } 
        } 
    }

    .orcamento{
        h3{
            width: 100%;
        }
    }

    .portfolio{
        h3{
            width: 80%;
        }
    }
}

@media(max-width: 600px){
    .bg-top-home{
        height: 680px;
        .wrap-texts{
            width: 100%;
            padding: 10px;
            top: 16%;
            h1{
                font-size: 25px;
                margin-top: 0px;
            }
            a.nav-link{
                margin-top: 40px;
            }
            p{
                line-height: 24px;
            }
        }
    }
    .services{
        margin-bottom: 20px;
        top: -110px;
        .wrap-sevices{
            flex-direction: column;
            position: relative;
            top: 15px;
            width: 100%;
            .box-service{
                width: 100%;
            }
        }
    }
    .ilustration{
        img{
            width: 100%;
            margin-top: 0;
        }
        h2{
            text-align: center;
            font-size: 32px;
        }
        p{
            text-align: center;
            margin-bottom: 30px;
        }
    }
    .solutions{
        .card{
            padding: 15px;
        }
    }
    .plans{
        h3{
            width: 100%;
        }
        p.text-popular{
            margin-top: 35px;
        }
        .form-orcamento{
            width: 100%;
        }
    }
    .portfolio{
        h3{
            width: 100%;
        }
    }
    
}